*.s
*.o
*.i90
*.mod
*.swp
*.mk
*.optrpt
*.pyc
src/deplist.mk
src/srcfiles_pp.mk
bin/*
ini/*
lib/*
src/preprocflags.f90
*~
build*/
ctags.txt
CMakeCache.txt
share/*
CMakeFiles/
regressioncheck/reggie/*
tmp*/
output_dir_gitlab_tool/
