*.s
*.o
*.i90
*.mod
*.swp
*.optrpt
*.pyc
bin/*
ini/*
lib/*
src/preprocflags.f90
*~
build*/
!builds.ini
share/*
tmp*/
piclas

# latex
*.aux
*.log
*.synctex.gz

# user/dev guide
userguide.pdf
developerguide.pdf
# when building the user/dev guide, a new template might be created
template.tex
# read the docs stuff
_build/

# regression test
regressioncheck/reggie/*
output_dir_gitlab_tool/
output_dir/
reggie_run/

# core dump files
core

# temporary files from programs in the tools directory
.createCylinderHOPR.json

# temporary files of the paraview plugin
.flexi.ini

# hopr debug files
sfc.dat


# visualization files
*.vtu
*.h5

# paraview layouts
*.pvsm

# piclas debug files
out.*.dat
*.out

# cmake temporary files
userblock.tmp
*f90.orig
commit.h

CMakeCache.txt
ctags.txt
CMakeFiles/
.tags

# comma separated files
*.csv
