*.s
*.o
*.i90
*.mod
*.swp
*.optrpt
*.pyc
bin/*
ini/*
lib/*
src/preprocflags.f90
*~
build*/
!builds.ini
reggie_run/
ctags.txt
CMakeCache.txt
share/*
CMakeFiles/
regressioncheck/reggie/*
tmp*/
output_dir_gitlab_tool/
.tags
userguide.pdf
developerguide.pdf
*.pvsm
core
piclas
*.out
userblock.tmp
*f90.orig
